.header{
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 100%;
    background-size: cover;
}

.logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin: 0 20px;
}

.menu-bar a{    
    margin: 0 0 0 30px;
    text-decoration: none;
    color: white;
    line-height: 80px;
    padding: 30px;
    font-weight: 700;
}

.menu-bar a:hover{
    background-color: white;
    color: black;
}

.shopping-cart{
    color: white;
    font-weight: 700;
}